Get to know the data 
● Perform quick descriptive statistics 
        ○ Mean 
        ○ Median 
        ○ Max 
        ○ Min 
        ○ Variance or Standard Deviation 
● Look for outliers 
● Check it out visually 
● Look at the distribution and variance of data 
● Further analysis - compare ratios vs. frequencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%store -r co2_breakdown

what happen in 2007??? All the levels rise up until 2007, then start to decrease.

Industry amounts start to decrease steadily around 2000.

Agriculture steadlily increase through out the years.

Commercial and residentail is pretty steady through out the years.

In [2]:
co2_breakdown

,Year,Transportation,Electricity_generation,Industry,Agriculture,Commercial,Residential,U.S._Territories,Total
1,1990,1527.07,1875.59,1628.68,598.967,428.668,344.702,33.3212,6437
2,1991,1480.93,1871.62,1602.05,589.683,435.61,354.248,39.1239,6373.26
3,1992,1540.53,1886.59,1633.08,590.57,431.179,360.821,37.3156,6480.09
4,1993,1577.52,1962.35,1602.41,618.614,424.627,372.165,39.0854,6596.77
5,1994,1632.15,1987.15,1628.11,605.833,428.066,362.939,41.4794,6685.73
6,1995,1667.33,2003.87,1646.81,618.138,427.284,367.159,40.4238,6771.02
7,1996,1723.5,2076.85,1674.91,625.073,434.833,398.995,40.2438,6974.41
8,1997,1750.01,2143.02,1672.32,613.575,427.624,380.423,41.8358,7028.8
9,1998,1792.37,2229.56,1644.51,620.526,402.076,346.477,42.2323,7077.75
10,1999,1863.37,2243.62,1592.6,611.522,398.219,366.279,50.007,7125.61
11,2000,1901.23,2349.16,1583.77,596.409,412.091,387.001,45.7379,7275.4
12,2001,1881.78,2309.67,1532.49,617.193,401.106,377.091,53.1488,7172.48
13,2002,1923.22,2325.54,1517.4,620.001,402.074,374.327,51.8972,7214.46
14,2003,1914.19,2356.82,1494.88,620.277,418.32,392.685,57.9298,7255.11
15,2004,1958.14,2389.88,1544.6,632.804,415.92,380.76,59.5577,7381.67
16,2005,1973.42,2455.93,1501.66,627.539,405.125,370.053,58.0431,7391.77
17,2006,1969.82,2399.31,1534.31,626.301,391.804,333.942,58.9043,7314.39
18,2007,1968.84,2466,1524.12,643.548,406.425,355.533,51.9812,7416.45
19,2008,1871.61,2412.19,1466.53,631.858,414.249,364.165,49.5183,7210.13
20,2009,1792.98,2196.03,1311.27,633.876,417.831,354.683,47.2406,6753.91
21,2010,1801.06,2312.12,1403.79,642.106,420.25,355.723,46.5623,6981.61
22,2011,1768.63,2209.81,1407.83,623.288,415.624,349.317,46.0236,6820.53
23,2012,1750.43,2070.93,1400.93,606.896,395.756,307.273,48.4585,6580.67
24,2013,1756.41,2088.89,1453.95,645.168,419.065,357.996,48.0736,6769.55
25,2014,1791.62,2089.12,1438.78,654.94,429.352,378.575,46.6299,6829.02
26,2015,1800.24,1949.23,1429.75,655.989,442.512,352.003,46.6361,6676.37
27,2016,1835.61,1856.81,1388.79,640.981,426.991,328.277,46.6312,6524.08
28,2017,1852.31,1778.4,1411.53,642.379,426.764,330.235,46.624,6488.23
29,2018,1882.56,1798.93,1470.74,658.557,443.322,375.919,46.6265,6676.65